
.main-header {
    background-color: #37474f;
    color: #fff;
    padding: 10px 20px;
    display: flex; /* Hacer que el header sea un contenedor flex */
    align-items: center; /* Centrar verticalmente los elementos del header */
}

.logo {
    margin-right: auto; /* Empujar el logo hacia la izquierda */
    font-size: 1.5rem; /* Tamaño del logo */
    font-weight: bold; /* Negrita para el logo */
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Alinear los enlaces al final */
    margin-right: 20px; /* Espacio entre el borde y los enlaces */
}

.nav-links li {
    margin-left: 15px; /* Espacio entre los enlaces */
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s; /* Transición suave al cambiar de color */
}

.nav-link:hover {
    color: #ffd700; /* Color amarillo al pasar el mouse */
}
