body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #37474f; 
    margin: 0;
    background-color: #f5f5f5; 
    display: flex;
    height: 100vh;
    box-sizing: border-box;
}


#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-image: url(../imagenes/fondo_difuminado_login.jpg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}



/* contenedor del login a la izquierda */
#contenedorcentrado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-width: 380px;
    max-width: 900px;
    width: 90%;
    background-color: #f5f5f5; /* Cambiado a un tono más claro */
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1); /* Cambiado el tono de la sombra */
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
}

/* formulario de login */
#login {
    width: 100%;
    max-width: 320px;
    min-width: 320px;
    padding: 30px;

    border-radius: 3px;
    background-color: #ffffff; /* Cambiado a blanco */
    border: 2px solid #e0e0e0; /* Cambiado a un tono más claro */
    box-sizing: border-box;
}


.form-group {
    position: relative;
    margin-bottom: 20px;
    text-align: left;
}

label {
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 16px;
    color: #37474f; /* Cambiado a un tono más oscuro */
    transition: all 0.3s ease;
    pointer-events: none;
    background-color: #ffffff;
    padding: 0 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 12px 12px 12px;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
    transition: all 0.3s ease;
    border: 2px solid #37474f; /* Cambiado a un tono más claro */
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #37474f; /* Cambiado a un tono azul */
    box-shadow: 0 0 8px rgba(25, 118, 210, 0.2); /* Cambiado el tono de la sombra */
}

input[type="text"]:focus + label,
input[type="password"]:focus + label,
input[type="text"]:not(:placeholder-shown) + label,
input[type="password"]:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #37474f; /* Cambiado a un tono azul */
}

/* Pseudo-elementos para ocultar parte del borde */
input[type="text"]:focus + label::before,
input[type="password"]:focus + label::before,
input[type="text"]:not(:placeholder-shown) + label::before,
input[type="password"]:not(:placeholder-shown) + label::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -2px;
    right: -2px;
    height: 1px;
    background-color: #ffffff;
    z-index: 1;
}

button {
    width: 100%;
    padding: 14px;
    background-color: #37474f; /* Cambiado a un tono azul */
    color: #ffffff; /* Cambiado a blanco */

    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1e2427; /* Cambiado a un tono más oscuro del azul */

}

/* seccion de la derecha */
#derecho {
    text-align: center;
    width: 100%;
    opacity: 0.70;
    filter: alpha(opacity=70);
    padding: 20px;
    box-sizing: border-box;
    opacity: 0.9; /* Cambiado a un tono más claro */
}

.titulo {
    font-size: 300%;
    color: #37474f; /* Cambiado a un tono más oscuro */
}

.logo-empresa img {
    width: 60%;
}

hr {
    border-top: 1px solid #bdbdbd; /* Cambiado a un tono más claro */
    border-bottom: 1px solid #37474f; /* Cambiado a un tono más oscuro */
}

.pie-form {
    font-size: 90%;
    text-align: center;
    margin-top: 15px;
    color: #37474f; /* Cambiado a un tono azul */
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #37474f; /* Cambiado a un tono más oscuro del azul */
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #0f000f;
}

/* ajustar a pantallas con ancho menor o igual a 775px; */
@media all and (max-width: 775px) {
    #contenedorcentrado {
        flex-direction: column;
        min-width: 380px;
        max-width: 900px;
        width: 90%;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
        padding: 30px;
        box-sizing: border-box;
    }

    #login {
        margin: 0 auto;
    }

    #derecho {
        padding: 20px;
    }

    #login label {
        text-align: left;
    }
}

.errorMessage {
    color: #ff0000; /* Color rojo para resaltar el mensaje de error */
    font-size: 14px; /* Tamaño de fuente */
    margin-top: 5px; /* Espacio superior para separar del campo de contraseña */
}